<div id="<%= dom_id note %>">
  <p>
    <strong>Myhack:</strong>
    <%= note.myhack_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= note.user_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= note.note %>
  </p>

</div>
