<h1>Editing myotherscript</h1>

<%= render "form", myotherscript: @myotherscript %>

<br>

<div>
  <%= link_to "Show this myotherscript", @myotherscript %> |
  <%= link_to "Back to myotherscripts", myotherscripts_path %>
</div>
