<div id="<%= dom_id myhack %>">
  <p>
    <strong>Title:</strong>
    <%= myhack.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= myhack.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= myhack.user_id %>
  </p>

</div>
